{
  "version": "https://jsonfeed.org/version/1.1",
  "title": "{{ .Title }}",
  "description": "{{ .Description }}",
  "home_page_url": "http://localhost/",
  "feed_url": "http://localhost/feed.json",
  "date_modified": "{{ .DateModified }}",
  "authors": [
    {
      "name": "Cartero"
    }
  ],
  "items": [
    {{- range $index, $item := .Items }}
    {{- if gt $index 0 }},{{ end }}
    {
      "id": "{{ $item.ID }}",
      "title": "{{ $item.Title }}",
      "url": "{{ $item.Link }}",
      "summary": "{{ $item.Description }}",
      "content_html": "{{ $item.Content }}",
      "author": {
        "name": "{{ $item.Author }}"
      },
      "date_published": "{{ $item.PublishedAt }}",
      "tags": ["{{ $item.Source }}"]
    }
    {{- end }}
  ]
}
