{{- $author := index .Metadata "author" -}}
{{- $comments := index .Metadata "comments" -}}
{{- $commentCount := index .Metadata "comment_count" -}}
{{- $summary := index .Metadata "summary" -}}
<b><a href="{{ .URL }}">{{ .Title }}</a></b>
{{ if $author -}}
{{ $author }}
{{ end -}}
{{ if $comments -}}
<a href="{{ $comments }}">Discussion{{ if $commentCount }} ({{ $commentCount }}){{ end }}</a>
{{ end -}}
{{ if $summary -}}
<i>{{ slice $summary 0 800 }}</i>
{{ end -}}
<i>Source: {{ .Source }}</i>
